html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    background-color: #FEFFFD;
    height: 100%;
}

header{
    display: none;
}

.hamburger{
    left: 4px;
    top: 4px;
    position: fixed;
}

#linksForHamburger{
    display: none;
    height: 80%;

    top: 0;
    left: 0;
    right: 0;
    position: fixed;

    background-color: white;

    animation-duration: 100ms;
    animation-name: hamburgerSlideIn;
    animation-timing-function: ease-in;
}

@keyframes hamburgerSlideIn{
    from{
        height: 0%;
    }
    to{
        height: 80%;
    }
}


#linksForHamburger div>*{
    display: flex;
    justify-content: center;
    font-size: 2rem;

    animation-duration: 100ms;
    animation-name: hamburgerSlideInText;
    animation-timing-function: linear;
}


@keyframes hamburgerSlideInText{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

main{
    border: 3px solid #9ED5DB;
}


.boxes{
    background-color: rgb(209, 209, 209);

    display: flex;
    flex-direction: column;
}


.boxes div >* {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

#desktopMe{
    width: 100%;
    border-radius: 30%;
    margin: 0;
}