html,body{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    background-image: url("desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header{
    height: 3.4rem;
    color: white;

    background-image: url("header.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;

    top: 0;
    left: 0;
    right: 0;
    position: absolute;

    border: 2px solid rgb(41, 41, 41);
    border-top: none;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.navigator{ 
    display: flex;
    justify-content: center;
    width: 80%;
}

.navigationButtonsDiv {
    display: flex;
    justify-content: center;
    width: 5rem;
}

.navigationButtons{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;  /* Safari */
    -khtml-user-select: none;  /* Konqueror HTML */
    -moz-user-select: none;   /* Old versions of Firefox */
    -ms-user-select: none;   /* Internet Explorer/Edge */
     user-select: none;     /* Other */
}

.navigationButtons {
    padding-left: 5px;
    padding-right: 5px;
}

.navigationButtons:hover{
    box-shadow: 0 2px black; 
    border-radius: 6px;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}


.textContainer{
    border: 2px solid rgb(33, 83, 46);
    min-height: 30rem;
    min-width: 80%;
    max-width: 90%;

    box-shadow: 15px -15px 5px  rgba(0, 0, 0, 0.486);
}

#introThirdQuarter{
    display: flex;
    justify-content: flex-end;
}

.boxes{
    min-height: 30rem;
    width: 100%;
    border: 2px solid blue;

    background-color: #EEEDEB;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% auto;
}

.boxes div>*{
    margin: 1rem;
}

.boxesFirstQuarter{
    display: none;
    border: 2px solid red;
}

.boxesSecondQuarter{
    grid-column: 1;
    grid-row: 1 / 4;
    border: 2px solid purple;

}

.boxesThirdQuarter{
    grid-column: 2;
    grid-row: 1;
    border: 2px solid green;

}

.boxesForthQuarter{
    grid-column: 2;
    grid-row: 2 / 4;
    border: 2px solid orange;
}

.boxes div>*{
    display: flex;
    justify-content: center;
}

.boxes img{
    width: 10rem;
    border: 2px dotted gray;
    border-radius: 40%;
    margin: 0.5rem;

}

#intro{
    display: grid;
}

#experience{
    display: none;
}

#studies{
    display: none;
}

#link{
    display: none;
}

#contact{
    display: none;
}